.calculatrice {
    width:220px;
    height:260px;
    border:solid black 1.5px;
    background-color:rgb(238, 237, 237) ;
    margin-left:4px;
    margin-top: 6px;
}

.globale {
    width:230px;
    height:310px;
    border:solid black 2.2px;
}

b {
    text-align: center;
}

.resultat {
    width:200px;
    height:35px;
    margin-left:7px;
    margin-top:10px;
    margin-bottom: 5px;
    border:solid black 1px;
    font-size:20px;
}

.corps {
    display:flex;
    flex-direction: row;
}

.menu-gauche{
    height:190px;
}

.menu-gauche button {
    height:40px;
    width:50px;
}


.menu-droit {
    height:205px;
}

.menu-droit button.effacer {
    height:40px;
    width:50px;
    color:red;
}

.menu-droit button.calculateur {
    height:32px;
    width:50px;
}

button {
    background:linear-gradient(rgb(185, 230, 248), white, rgb(185, 230, 248), rgb(185, 230, 248));
    font-size:20px;
}

