body {
    font-family: 'Trebuchet MS' ; 
    background-color: beige;
}
p.titre {
    font-size:2em;
}

nav.menu ul li {
    display :inline-block;
    margin-right: 20px;
}
nav.menu ul {
    margin-left: -06%;
}

aside {
    font-family:aside;
    width:36%;
    font-size:1.4em;
    float:right;
    margin:1%;
    margin-top:-2%;
}
p.debut {
    width:450px;
}

div.latete{
    width:60%;
    margin-left:20%;
}

div.globale {
    display: flex;
    flex-direction: row;
}

div.gauche {
    width:60%;
    display: center;
    margin-left:20%;
}

div.droite {
    margin-top: 3%;
}

footer {
width:60%;
float:right;
}
footer ul li {
    display:inline-block;
    margin-right: 20px;
}
