div.left{
    background-color: yellow;
    width: 50%;
}

div.right{
    background-color: yellow;
    width: 50%;
    margin-left:50%;
}

div.all {
    background-color: #fff;
}

h1.title {
    font-family:Verdana;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;

}

a.link {
    color: red;
    text-decoration: underline;
}

p.bloc {
    font-size: 12px;
}

p:first-letter{
    font-size: 30px;
    font-family: Verdana;
    padding-left: 20px;
}