body {
    background-color:#af190e;
}

header {
    position: relative;
    width:40%;
    background-color: rgb(119, 0, 0);
    left:30%;
    border-style:solid;
    border-width:3px;
    border-color: orange;

}

img.tete {
    margin-top:8px;
}

div.box{
    font-size:13px;;
    font-style:Verdana;
    width:26%;
    color:white;
    background-color:#cc0033;
    display: inline-block;
    text-align:center;
    margin-bottom: 2%;

}


div.container {
    display: flex;
    flex-direction: row;
    font-style:Verdana;
    justify-content: space-around;

}

div.ingredient {
    width:22%;
    margin-left:3%;
    color:solid black;
    background-color:rgb(221, 200, 161);
    border: solid orange 3px;

}

div.titre {
    background-color: white;
    color: red;
    border: solid red 2px;
    padding:1%;

}

div.phasestech {
    width:40%;
    margin-left:4.5%;
    color: black;
    background-color:rgb(221, 200, 161);
    border: solid orange 3px;
}

div.globale {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}

div.conseils{
    width:100%;
    margin-left:3%;
    color:black;
    background-color:rgb(221, 200, 161);
    border: solid orange 3px;

}
